#sidepanel
  #sideHeader
    h2 Link Info
    button#prev Anterior 
    button#next Siguiente
    #closeContainer
      i#sideClose.icofont-close
    p#linkId
  .sidePanelA2
    #linkInfoContainer
      p Nombre:&nbsp;
        span#lname 
      p Panel:&nbsp;
        span#lpanel 
      p.url Url:&nbsp;
        a#lurl(target='_blank') 
      p Activo:&nbsp;
        span#lactive 
      p Fecha Creación:&nbsp;
        span#ladded
      p Icono:&nbsp; 
        img#limage(title='Cambiar icono')
    #imgOptions
      .imgOptionsWrapper 
        img#option1(src='img/opcion1.svg')
        img#option2(src='img/opcion2.png')
        img#option3(src='img/opcion3.png')
        img#option4(src='img/opcion4.svg')
        img#option5(src='img/opcion5.svg')
        img#option6(src='img/opcion6.svg')
        img#option7(src='img/opcion7.ico')
      .imgOptionsControls
        input#upLinkImg(type='file' accept='image/*')
        svg.ui-icon(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke-width='1.5' stroke='currentColor')
          path(stroke-linecap='round' stroke-linejoin='round' d='M9 8.25H7.5a2.25 2.25 0 00-2.25 2.25v9a2.25 2.25 0 002.25 2.25h9a2.25 2.25 0 002.25-2.25v-9a2.25 2.25 0 00-2.25-2.25H15m0-3l-3-3m0 0l-3 3m3-3V15')
        button#saveLinkImage Guardar
  #notesContainer
    p Notas:&nbsp;
    #linkNotes(contenteditable='true') Escribe aqu&iacute;
    #textControls
      i.icofont-code-alt
      i.icofont-font
      i.icofont-delete-alt.ui-icon
      svg.ui-icon(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke-width='1.5' stroke='currentColor')
        path(stroke-linecap='round' stroke-linejoin='round' d='M15 12H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z')
      button#sendNotes Guardar
  #imgContainer
    #linkImages(contenteditable='false')
      #liLoader
        span.loader
      iframe(id='videoFrame' src='' frameborder='0' width='560' height='340' scrolling='no' allowfullscreen='')
      #imgMasonry
    button#pasteImg Pegar Imágen