#linkImages a i.icofont-close-line {
    position: relative;
    background-color: var(--light-bgColor);
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    left: -40px;
    top: 15px;
    cursor: pointer;
    padding: 0 5px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100vw;
    height: -webkit-fill-available;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}
.sideInfo {
    height: auto;
}
i.icofont-scroll-up {
    font-size: 27px;
}

.skeleton {
    animation: skeleton-loading 1s linear infinite alternate;
    border-radius: 9px;
}

.skeleton-loader {
    display: flex;
    height: 78vh;
    position: fixed;
    justify-content: center;
    top: 185px;
    transition: all .8s;
    margin-left: 6%;
    z-index: 1;
    max-width: 75%;
    padding: 15px;
    background-color: var(--fifthColor);
}

.tabsket {
    display: flex;
    justify-content: start;
    width: 335px;
    flex-direction: column;
    padding-right: 15px;
}

.linksket {
    width: 225px;
    height: 45px;
    display: flex;
    padding-left: 11px;
    justify-content: center;
    align-items: center;
}

.linksket a {
    width: 230px;
    height: 15px;
}

.linksket img {
    height: 16px;
    width: 16px;
    margin-right: 5px;
    border-radius: 50%;
}

.tabcontentsket {
    display: flex;
    flex-direction: column;
    width: 46%;
}

.sidepanelsket {
    width: 58%;
}

.gridPanel:nth-child(1) {
    height: 57px;
}

.gridPanel:nth-child(3) {
    height: 205px;
}

.gridPanel:nth-child(4) {
    height: 480px;
}

button.skeleton {
    display: block;
    width: 69%;
    height: 19px;
    border: 0;
    margin: 15px 10px;
}

div.header.skeleton {
    height: 15px;
    width: 80%;
}

div.imgHolder.skeleton {
    height: 21vh;
    width: 50%;
    margin: 15px auto;
}

div.linkInfosket.skeleton {
    height: 7px;
    display: inline-block;
    width: 256px;
    margin-right: -24px;
    margin-bottom: 13px;
}

div.textHolder.skeleton {
    height: 20vh;
    width: 70%;
    margin: 15px auto;
}

.gridPanel {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

@keyframes skeleton-loading {
    0% {
        background-color: hsl(0deg 0% 92.93%);
    }

    100% {
        background-color: hsl(0deg 0.67% 86.88%);
    }
}
.tab {
    overflow-y: auto;
    padding-right: 15px;
}
.lastVisited {
    background-color: white;
}
/* Barra de desplazamiento vertical */
.tab::-webkit-scrollbar {
    width: 8px;
    /* Ancho de la barra de desplazamiento */
}

.tab::-webkit-scrollbar-thumb {
    background-color: #dcdcdc;
    /* Color del "pulgar" de la barra de desplazamiento */
    border-radius: 4px;
    /* Borde del "pulgar" */
}

.tab::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    /* Color de fondo de la barra de desplazamiento */
}
.tab button {
    display: block;
    background-color: var(--sixthColor);
    color: var(--firstTextColor);
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    font-size: 13px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 225px;
    height: 43px;
    padding-left: 12px;
    font-weight: 500;
}
.envolt {
    box-shadow: none;
}
.tab button:hover {
    background-color: var(--firstHvColor);
    box-shadow: none;
}
.tab button.active {
    border-left: 3px solid var(--accentColor);
    background-color: var(--firstButtonColor);
    color: var(--firstTextColor);
}
html.light body.edit .envolt {
    box-shadow: none !important;
}
html:not(.dark) body.edit div.columna {
    background-color: transparent;
}
body.edit #sidepanel.maximized {
    height: calc(100% - 126px);
    border-radius: 0;
}
/* body.edit .upLinkImage label {
    width: inherit;
} */
body.edit #sidepanel.maximized #linkInfoContainer {
    width: 39%;
}
#menuMoveTo {
    z-index: 6;
}
body.edit #sidepanel.maximized #imgContainer {
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
div.columna {
    padding-top: 0;
}
.tabcontent {
    padding: 0;
    width: 38%;
    border-left: none;
    height: 79vh;
    align-items: start;
    justify-content: start;
    overflow-y: auto;
    background-color: var(--fifthColor);
}
html.light body.edit .tabcontent {
    background-color: transparent;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
}
#sectContainer {
    display: none;
}
.container2 {
    padding: 0;
}

body.edit #sidepanel {
    display: flex;
    background-image: var(--bgGradient);
    width: 45%;
    position: sticky;
    border-top: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    flex-grow: 1;
    height: auto;
}
.tabcontent::-webkit-scrollbar {
    width: 8px;
}
.tabcontent::-webkit-scrollbar-thumb {
    background-color: #d4d4d430;
}
#linkImages::-webkit-scrollbar-track {
    background-color: transparent;
}
#linkImages::-webkit-scrollbar-thumb {
    background-color: #d4d4d430;
}
#sidepanel.maximized iframe#videoFrame {
    /* width: 40% !important; */
    margin: 0 auto;
    height: 692px;
}
#sidepanel.maximized #notesContainer {
    width: 58%;
    align-self: end;
    margin-bottom: 35px;
    display: flex;
    height: -webkit-fill-available;
}
iframe#videoFrame {

    /* height: 20rem; */
    min-height: initial;
    width: 100%;
}
body.edit #linkImages {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 0;
}
body.edit .sidePanelA2 {
    height: 49%;
    flex-direction: column;
}
body.edit #linkInfoContainer {
    width: auto;
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    gap: 12px;
    height: -webkit-fill-available;
    margin-top: 50px;
}
body.edit #sidepanel button {
    font-size: 12px;
}
#notesContainer {
    width: auto;
    display: none;
}
body.edit #linkInfoContainer p:first-child {
    margin-top: initial;
}
body.edit #linkInfoContainer p {
    margin: 0;
    width: 67%;
}
#sidepanel.maximized .sidePanelA2 {
    display: flex;
    flex-direction: row;
}
#sidepanel.maximized #imgMasonry {
    height: fit-content;
}
#sideHeader {
    justify-content: space-between;
    padding: 19px 40px;
    width: -webkit-fill-available;
    background-color: var(--firstColor);
    height: 1%;
    margin-top: 12px;
    width: 84%;
    border-radius: 5px;
}
.link.navActive {
    background-color: var(--secondColor) !important;
}
#imgOptions {
    flex-direction: row;
    width: 68%;
    flex-wrap: wrap;
}
#sidepanel h2 {
    font-size: 15px;
    font-variant: petite-caps;
    padding-left: 0;
}
#closeContainer {
    width: auto;
    margin-right: 0;
}

#sidepanel.maximized button#pasteImg {
    right: 40px;
    position: fixed;
    width: 6%;
    top: 50%;

}
/* button#pasteImg {
    position: fixed;
    right: 203px;
    top: 44%;
} */
.textContActive {

    box-shadow: 0px 0px 12px #ccc inset;

}
body.edit #imgContainer {
    height: 26rem;
    border-radius: 5px;
}
#resultsContainer .link {
    height: auto;
    max-width: none;
}
body.edit .cuerpoInt {
    max-width: 75%;
    display: flex;
    padding: 0px;
    margin-top: 28px;
    visibility: hidden;
    transition: all .8s;
    gap: 0;
    margin-left: 15%;
    padding: 15px;
    overflow: hidden;
    background-color: var(--sixthColor);
    box-shadow: inset 1px 2px 15px 5px var(--firstShadow);
}
html.light body.edit .cuerpoInt {
    box-shadow: inset 1px 2px 15px 5px #50505045;
}
.icofont-expand {
    cursor: pointer;
}
.lcontrols {
    margin-right: 8px;
    top: 5px;
}
.columna {
    margin-right: 45px;
    margin-bottom: 0;
    flex-wrap: wrap;
}

.link {
    width: 225px;
}
.link:nth-child(even):not(.lastVisited) {
    background-color: transparent;
}
.link:nth-child(even):not(.lastVisited):hover {
    background-color: var(--firstHvColor);
}
.envolt {
    margin-bottom: 0;
}
.link:nth-child(even):not(.lastVisited).navActive {
    border-left-color: var(--accentColor);
    background-color: var(--secondColor);
}
.link a {
    top: 0;
    justify-content: center;
}
.navActive a {
    color: var(--light-textColor);
}
.link:last-child {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding-bottom: 0;
}