:root {
    --firstColor: white;
    --secondColor: #dee1e6;
    --thirdColor: #f1f3f4;
    --fourthColor: #f1f1f1;
    --fifthColor: #ededed;
    --bgSecondGradient: radial-gradient(circle, rgba(222, 225, 230, 1) 0%, rgba(222, 225, 230, 1) 100%);
    --bgGradient: radial-gradient(circle, rgba(222, 225, 230, 1) 0%, rgba(222, 225, 230, 1) 100%);
    --accentColor: #bababa;
    --neumoShadow: inset 0 0 1em rgb(141 141 141 / 10%), 0 0 0 2px rgb(239 239 239), 0.3em 1em 2em rgb(0 0 0 / 7%);
    --secondNeumoShadow: inset 0 0 1em rgb(141 141 141 / 10%), 0 0 0 2px rgb(239 239 239);
    --firstTextColor: #4e4e4e;
    --secondTextColor: #4f4f4f;
    --buttonTextColor: #4e4e4e;
    --firstBorder: 1px solid #e8e8e8cc;
    --firstShadow: #5050501a;
    --firstBorderColor: #d5d5d5cc;
    --firstHvColor: #f1f3f4;
    --sixthColor: #fcfcfc;
    --firstButtonColor: #dee1e6;
    --placeholderImg: url('../img/placeholderImgLight.png');
    --placeholderVid: url('../img/placeholderVidLight.png')
}

html.dark {
    --firstColor: #292929;
    /* --secondColor: #313131; */
    --secondColor: #31313185;
    --thirdColor: #414141;
    --fourthColor: #2d2d2d;
    --fifthColor: #292929;
    --bgSecondGradient: radial-gradient(circle 815px at 23.4% -21.8%, rgb(64 64 64) 0.2%, rgb(33 33 33) 100.2%);
    --bgGradient: url('/img/fondo.png');
    --accentColor: #bf7272;
    --neumoShadow: inset 0 0 1em rgb(141 141 141 / 10%), 0 0 0 2px rgb(68 68 68), 0.3em 1em 2em rgba(0, 0, 0, 0.3);
    --secondNeumoShadow: inset 0 0 1em rgb(141 141 141 / 10%), 0 0 0 2px rgb(68 68 68);
    --firstTextColor: #e2e2e2;
    --buttonTextColor: #4e4e4e;
    --secondTextColor: #b1b1b1;
    --firstBorder: 1px solid #323232cc;
    --firstShadow: #0c0c0c;
    --firstBorderColor: #575757cc;
    --firstHvColor: #232323;
    --sixthColor: #232323;
    --firstButtonColor: #313131;
    /*Third color*/
    --placeholderImg: url('../img/placeholderImg.png');
    --placeholderVid: url('../img/placeholderVid.png')
}

html {

    overflow: auto;
    scrollbar-gutter: stable;

}

body {
    background-size: cover;
    background-attachment: fixed;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: var(--bgGradient);
    margin-top: 157px;
}

html.light body {
    background-color: #f1f3f4;
    background-image: none;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--accentColor);
    border: 0;
    padding: 8px 19px;
    border-radius: 3px;
    color: var(--buttonTextColor);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    transition: background-color .6s;
}

button:hover {
    background-color: var(--firstHvColor);
    box-shadow: var(--secondNeumoShadow);
    transition: background-color .3s;
    color: var(--accentColor);
}

button:hover .ui-icon-button {
    color: var(--accentColor);
}

button:disabled {
    opacity: .5;
    cursor: not-allowed;
}

.ui-icon {
    width: 24px;
    cursor: pointer;
    color: var(--accentColor);
}

.ui-icon-light {
    width: 24px;
    cursor: pointer;
    color: white;
}

.ui-icon-button {
    width: 20px;
    color: var(--buttonTextColor);
    cursor: pointer;
}

.ui-icon-menu {
    width: 16px;
    color: var(--accentColor);
    padding-top: 2px;
}

input[type='text'] {
    height: 34px;
    padding-left: 11px;
    background-color: var(--thirdColor);
    border-radius: 5px;
    border: 1px solid var(--firstBorderColor);
    color: var(--firstTextColor);
    outline: none;
}

textarea {
    padding: 11px;
    background-color: var(--thirdColor);
    border-radius: 5px;
    border: 1px solid var(--firstBorderColor);
    color: var(--firstTextColor);
    outline: none;
    font-family: system-ui;
}

.container.modals {
    padding: 0;
}

header {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-areas: "headLeft headCenter headRight";
    width: 85%;
    margin: 0 auto;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: var(--bgGradient);
    height: 83px;
    z-index: 5;
    backdrop-filter: blur(3px);
}

.headLeft {
    grid-area: headLeft;
    display: flex;
    gap: 15px;
    justify-content: flex-start;
    align-items: center;
    padding-left: 19%;
}

.logo {
    display: flex;
    gap: 10px;
    align-items: center;
}

.logo div {
    display: flex;
    flex-direction: column;
    border-left: 1px solid var(--accentColor);
    padding-left: 10px;
    color: var(--accentColor);
}

.logo svg {
    fill: var(--accentColor);
}

.bold {
    font-weight: bolder;
}

.mono {
    font-family: monospace;
}

.slideUp {
    transform: translateY(-48px) !important;
}

.sideInfo {
    display: none;
    gap: 2px;
    position: fixed;
    top: 189px;
    left: 3%;
    flex-direction: column;
    padding: 17px 17px 17px 0;
    border-radius: 5px;
    height: 79vh;
    border-left: 1px solid var(--firstBorderColor);
    width: 8%;
}

.sideInfo p {
    color: var(--firstTextColor);
    margin: 0;
    font-size: 14px;
}

.sideInfo p:nth-child(7),
.sideInfo p:nth-child(11),
.sideInfo p:nth-child(15),
.sideInfo p:nth-child(19) {
    margin-bottom: 100px;
}

.selectInfoColor,
.selectAccentColor {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    width: -webkit-fill-available;
}

.selectInfoColor div,
.selectAccentColor div {
    height: 30px;
    width: 30px;
    border-radius: 25px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.selectInfoColor p,
.selectAccentColor p {
    width: 100%;
    text-align: left;
}

#selectCols {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    gap: 10px;
    margin-top: 30px;
}

#theme {
    background: var(--bgGradient);
}

div#yellow {
    background-color: #ffff00;
}

div#blue {
    background-color: cornflowerblue;
}

div#green {
    background-color: #00cc66;
}

div#defaultLight {
    background-color: #bababa;
}

div#defaultDark {
    background-color: #bf7272;
}

.sideInfo div {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.sideInfo .sect {
    flex-direction: column;
    margin-bottom: 60px;
    border-left: 4px solid var(--firstBorderColor);
    padding-left: 10px;
    position: relative;
    left: -2px;
    padding: 5px 15px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: all 1.3s;
}

.sideInfo .sect a {
    text-decoration: none;
    color: var(--firstTextColor);
    font-size: 14px;
    cursor: pointer;
}

.sectActive {
    background-color: var(--firstButtonColor);
    border-left-color: var(--accentColor) !important;
}

.sideInfoSelectedCol {
    box-shadow: 7px 7px 15px rgba(55, 84, 170, .15), -7px -7px 20px rgba(255, 255, 255, 1), inset 0px 0px 4px rgba(255, 255, 255, .2), inset 7px 7px 15px rgba(55, 84, 170, 0), inset -7px -7px 20px rgba(255, 255, 255, 0), 0px 0px 4px rgba(255, 255, 255, 0) !important;
}

p#saludo {
    font-size: 14px;
    margin: 0;
    font-weight: 500;
    color: var(--firstTextColor);
}
.linkImgSelected {
    border-color: #ccc !important;
}
.headRight {
    grid-area: headRight;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* gap: 25px; */
    padding-right: 19%;
}

.headCenter {
    grid-area: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border: 0;
    background: var(--bgGradient);
    position: absolute;
    top: 83px;
    width: 100%;
}

#showMenu {
    display: flex;
}

div.deskControls .ui-icon {
    width: 19px;
}

div.deskControls {
    padding: 10px;
    background-color: var(--firstButtonColor);
    border-radius: 5px;
    margin-bottom: 90px;
    margin-left: 10px;
    gap: 15px;
    width: fit-content;
}

div.deskInfos {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-bottom: 15px;
}

#reloj {
    font-size: 25px;
    line-height: 1;
    color: var(--accentColor);
    font-weight: 600;
    margin-bottom: 15px;
}

.menuColumn,
.menuLink {
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
    background: var(--firstColor);
    /* border: 1px solid #8080806e; */
    display: none;
    font-size: .9rem;
    width: 215px;
    white-space: nowrap;
    box-shadow: 0px 5px 21px var(--firstShadow);
    border-radius: 5px;
    padding: 4px;
    color: var(--firstTextColor);
    z-index: 7;
}

/* .menuColumn {
    min-width: 215px;
} */
.menuColumn p,
.menuLink p {
    padding: 8px 20px;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    align-self: flex-start;
    padding-top: 0;
    flex-grow: 1;
    border-bottom: 1px solid #e8e0e0cc;
    width: 82%;
}

.menuColumn strong,
.menuLink strong {
    padding: 8px 20px;
    display: block;
    align-self: flex-start;
    padding-bottom: 0;
}

.menuItem {
    display: flex;
    padding: 0 10px;
    cursor: pointer;
    width: 90%;
    border-radius: 5px;
    align-items: center;
    gap: 5px;
    justify-content: flex-start;
    height: 40px;
}

.menuItem:hover,
.menuItem ul li:hover {
    background-color: var(--firstHvColor);
}

.moveCol:hover #destDesk {
    display: flex;
}

.moveLink:hover #destCol {
    display: flex;
}

.menuItem ul#destDesk {
    position: absolute;
    left: 219px;
    top: 171px;
    background-color: var(--firstColor);
    padding: 8px 0;
    display: none;
    box-shadow: 4px 3px 11px var(--firstShadow);
    border-radius: 5px;
    min-width: 165px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.icofont-thin-right {
    position: relative;
    left: 102px;
    font-size: 18px;
    font-weight: 700 !important;
    color: var(--accentColor);
}

.menuItem ul#destCol {
    position: absolute;
    left: 215px;
    top: 81px;
    background-color: var(--firstColor);
    display: none;
    box-shadow: 4px 3px 11px var(--firstShadow);
    border-radius: 5px;
    padding: 8px 0;
    min-width: 190px;
    flex-direction: column;
    align-items: center;
}

.menuItem ul li {
    list-style: none;
    padding: 8px;
    width: 82%;
    border-radius: 5px;
}

h1.deskTitle {

    margin: 0;
    font-size: 14px;
    font-weight: bold;
    color: var(--accentColor);
    width: 100%;

}


div#userControl {
    z-index: 11;
}

div.avatar {
    text-align: right;
    position: relative;
    z-index: 11;
}

div.avatar img {

    width: 25px;
    border-radius: 50%;
    height: 25px;
    object-fit: cover;
    vertical-align: bottom;
}

#resultsContainer {
    flex-direction: column;
    position: fixed;
    background-color: var(--firstColor);
    top: 133px;
    width: 100%;
    overflow-y: auto;
    display: none;
    max-height: 95vh;
    z-index: 6;
    align-items: center;
}

#resultsContainer p.idpanel {
    display: none;
}

#resultsContainer .link {
    background-color: transparent;
    gap: 8px;
    flex-wrap: wrap;
    height: auto;
    border-bottom: 1px solid var(--firstBorderColor);
    padding-bottom: 10px;
    max-height: max-content;
    align-items: center;
}
#resultsContainer .link img {
    position: initial;
}
#resultsContainer .link:nth-child(even):not(.lastVisited) {
    background-color: transparent;
}

#resultsContainer::-webkit-scrollbar {
    width: 8px;
    /* Ancho de la barra de desplazamiento */
}

#resultsContainer::-webkit-scrollbar-thumb {
    background-color: var(--accentColor);
}

#resultsContainer::-webkit-scrollbar-track {
    background-color: var(--firstColor);
}


#lurl {
    color: var(--accentColor);
    text-decoration: none;
}

#sidepanel p span {
    font-weight: 400;
}



#sideHeadP {
    width: 265px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    align-self: unset !important;
    margin-left: -160px !important;
}

#sideHeadImg {
    width: 16px;
    padding-top: 3px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
    height: -webkit-fill-available;
    z-index: 5;
}

.modal-content {
    margin: auto;
    display: block;
    max-width: 100%;
}

.modal-content,
#caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.textContActive {

    box-shadow: 0px 0px 12px #ccc inset;

}

body.profile .tabcontent:nth-child(2) {
    display: flex;
    flex-direction: column;
    width: auto;
}

.estatistics {
    padding: 25px;
    border: 1px solid var(--firstBorderColor);
    border-radius: 5px;
    margin-top: 55px;
}

div.password {
    display: flex;
    justify-content: stretch;
    align-items: center;
    width: 40%;
    background-color: var(--secondColor);
    border-radius: 5px;
    padding: 50px;
    flex-direction: column;
    flex-grow: 1;
    gap: 15px;
}

div.backup {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    background-color: var(--main-ac-color);
    border-radius: 5px;
    /* box-shadow: 0px 0px 9px var(--firstShadow); */
    padding: 50px;
    flex-direction: column;
    flex-grow: 1;
}

div.info {
    padding: 25px;
    border: 1px solid var(--firstBorderColor);
    border-radius: 5px;
    background-color: var(--firstColor);
}

/* .statsControls {
    display: flex;
    gap: 15px;
    width: 35%;
    box-shadow: var(--secondNeumoShadow);
    border-radius: 5px;
    padding: 40px 0;
    justify-content: center;
}
.groupControl {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
} */
#duplicatesResult,
#brokenLinksResult {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 50px;
}

#duplicatesResult .link,
#brokenLinksResult .link {
    height: auto;
    background-color: var(--secondColor);
    border-radius: 15px;
    padding: 25px;
    flex-wrap: wrap;
    max-width: 259px;
}

#duplicatesResult .link:hover,
#brokenLinksResult .link:hover {
    background-color: var(--firstHvColor);
}

#duplicatesResult .link p,
#duplicatesResult .link a,
#brokenLinksResult .link p,
#brokenLinksResult .link a {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 0;
}

#duplicatesResult .link a,
#brokenLinksResult .link a {
    width: 100%;
    flex-direction: row;
    gap: 8px;
}

body.profile .link img {
    margin-left: 0;
}

body.profile div.results {
    max-height: 0;
    transition: max-height 1.6s ease-out;
    overflow: hidden;
    width: 100%;
    background-image: var(--bgGradient);
}

div#preferences {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 92%;
    background-color: var(--fourthColor);
    border-radius: 5px;
    box-shadow: var(--neumoShadow);
    padding: 50px;
    flex-direction: column;
    flex-grow: 1;
    margin-top: 15px;
}

#duplicatesResult .link p,
#brokenLinksResult .link p {
    font-size: 12px;
    margin: 0 15px 15px 0;
}

body.profile #resultsContainer .link {
    height: auto;
    display: block;
    padding: 20px 10px;
}

body.profile #resultsContainer .link a {
    flex-direction: row;
    padding-left: 0;
}

body.profile #resultsContainer .link img {
    margin: 0 7px;
}

#resultsContainer .link a {
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 90%;
    top: initial;
}

#resultsContainer .link:hover,
#resultsContainer .link:nth-child(even):not(.lastVisited):hover {
    background-color: var(--firstHvColor);
}

#resultsContainer p {
    display: inline-block;
    margin: 8px;
    font-style: italic;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 27%;
    overflow: hidden;
    color: var(--firstTextColor);
    background-color: var(--fifthColor);
    padding: 8px;
    border-radius: 35px;
}

body.profile div.tab#profile {
    display: none;
}

.resultsHeader {
    display: flex;
    justify-content: space-between;
    padding: 0 25px;
    align-items: center;
}

div.avatar:hover .controls {
    display: flex;
}

div#profile {
    cursor: pointer;
    width: 100%;
    display: flex;
}

.profile-image {
    display: flex;
    align-items: start;
    flex-direction: column;
    width: fit-content;
    padding: 15px;
    border: 1px solid var(--firstBorderColor);
    border-radius: 5px;
    box-shadow: var(--secondNeumoShadow);
}

div.userInfo {
    padding: 15px;
    box-shadow: var(--secondNeumoShadow);
    border: 1px solid var(--firstColor);
    border-radius: 5px;
}

#preview-image {
    border-radius: 5px;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

#image-input {
    cursor: pointer;
    transform: translateX(-144px);
    opacity: 0;
}

#profileWrapper {
    display: flex;
    width: 50%;
    margin: 0 auto;
    gap: 50px;
    flex-direction: column;
}

body.profile p#saludo,
body.profile .sideInfo div,
body.profile #showMenu,
body.profile #drpEscritorios {
    display: none;
}

div#profile button {
    display: block;
    background-color: var(--accentColor);
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: center;
    cursor: pointer;
    transition: background 0.3s;
    font-size: 17px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 0;
}

div.buttons {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

#upFile {
    cursor: pointer;
    cursor: pointer;
    transform: translateX(-144px);
    opacity: 0;
}

.upFile {
    margin-top: 15px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.upFile label {
    position: absolute;
    display: flex;
    gap: 6px;
    cursor: pointer;
    height: 37px;
    justify-content: center;
    align-items: center;
    width: 158.36px;
}

#changePasswordDialog {
    position: absolute;
    background-color: var(--fifthColor);
    min-width: 427px;
    min-height: 263px;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 39%;
    display: none;
    border-radius: 5px;
    top: 30%;
    box-shadow: var(--neumoShadow);
    padding: 25px;
}

input[type='password'] {
    background-color: var(--firstHvColor);
    border: 0;
    height: 27px;
    width: 50%;
    color: var(--secondTextColor);
    padding-left: 10px;
    border-radius: 3px;
}

/* Change background color of buttons on hover */
div#profile button:hover {
    background-color: #f1f1f1;
}

.profile-image button.upFile {
    width: 200px;
    position: relative;
}

.profile-image button.upFile .ui-icon {
    margin-bottom: 3px;
    width: 19px;
}

button#duplicates .ui-icon,
button#brokenLinks .ui-icon {
    width: 16px;
}

button#duplicates,
button#brokenLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.wrapper {
    display: flex;
    gap: 35px;
    flex-direction: column;
}

.userInfo p:first-child {
    font-size: 26px;
    margin: 0;
}

.userInfo p:nth-child(2) {
    margin-top: 0;
}

.tabcontent {
    flex-direction: column;
    justify-content: center;
    color: var(--firstTextColor);
    flex-wrap: wrap;
}

.aditionalInfo,
.otherInfo form {
    display: flex;
    gap: 80px;
}

.otherInfo form {
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.tabcontent h2 {
    font-size: 1.9em;
    margin-top: 0;
}

/* Create an active/current "tab button" class */
div#profile button.active {
    background-color: #f1f1f1;
    border-bottom: 3px solid var(--accentColor);
}

body.profile .sideInfo {
    height: auto;
    top: 121px;
    border-left: 0;
}

#backupControls {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-top: 15px;
}

#menuMoveTo {
    position: fixed;
    top: 121px;
    right: 0;
    background-image: var(--bgGradient);
    height: -webkit-fill-available;
    padding: 50px 0px 100px 0px;
    display: none;
    min-width: 443px;
    box-shadow: 0px 6px 20px var(--firstShadow);
}

#menuMoveTo ul {
    list-style-type: none;
    cursor: pointer;
    overflow-y: scroll;
    padding: 0;
    color: var(--firstTextColor);
    padding-left: 30px;
}

/* Barra de desplazamiento vertical */
#menuMoveTo ul::-webkit-scrollbar {
    width: 8px;
    /* Ancho de la barra de desplazamiento */
}

#menuMoveTo ul::-webkit-scrollbar-thumb {
    background-color: #d4d4d4;
    /* Color del "pulgar" de la barra de desplazamiento */
    /* border-radius: 4px; */
    /* Borde del "pulgar" */
}

#menuMoveTo ul::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    /* Color de fondo de la barra de desplazamiento */
}

#menuMoveTo ul li ul {
    max-height: 0px;
    overflow: hidden;
    transition: max-height .2s ease-out;
    margin-top: 5px;
}

#menuMoveTo ul li ul li {
    padding: 5px;
}

#menuMoveTo ul li ul li:hover {
    background-color: var(--firstHvColor);
}

#moveToControls {
    display: flex;
    justify-content: space-evenly;
    margin-top: 45px;
}

#elementoC,
#infoD,
#elementoL {
    display: none;
}

/* #infoC,
#infoL {
    background-color: var(--accentColor);
} */

i.icofont-folder {
    margin-left: 5px;
}

.ddactive,
.accordion:hover {
    background-color: var(--firstHvColor);
}

li.accordion {
    padding: 5px 0 0;
}

#alertCard,
#loadingCard {
    position: fixed;
    top: 170px;
    background-color: var(--secondColor);
    min-height: 90px;
    width: 250px;
    border-radius: 5px;
    box-shadow: 0px 3px 19px var(--firstShadow);
    right: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateX(375px);
    transition: transform 0.3s ease-in-out;
    z-index: 4;
    padding: 6px;
}
#loadingCard p, #alertCard p {
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    text-align: center;
}
html.light #alertCard, html.light #loadingCard {
    background-color: var(--firstColor);
} 

#alertCard p {
    margin-left: 10px;
    color: var(--firstTextColor);
}

#profileDeleteConfirm {
    position: absolute;
    background-color: var(--firstColor);
    min-width: 320px;
    min-height: 145px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    left: 25%;
    display: none;
}

#profileDeleteConfirm p {
    width: 100%;
    text-align: center;
}

#profileDeleteConfirm button {
    margin: 10px;
    padding: 10px 28px;
    border: 0;
    background-color: var(--accentColor);
}

#profileDeleteConfirm button#confirm {
    background-color: crimson;
    color: white;
}

div.controls {

    width: 213px;
    position: absolute;
    background-color: var(--firstColor);
    height: 104px;
    justify-content: center;
    align-items: center;
    top: 33px;
    right: 1.6%;
    box-shadow: 0px 15px 25px var(--firstShadow);
    border-radius: 5px;
    flex-direction: column;
    gap: 13px;
    z-index: 10;
    padding-bottom: 16px;
    display: none;
    padding-top: 44px;

}

#userControl:hover div.controls {
    display: flex;
}

div.controls button {

    width: 63%;
    border: 0;
    padding: 10px 9px;
    cursor: pointer;
    border-radius: 5px;
    text-align: left;
    display: flex;
    gap: 11px;
    background-color: var(--accentColor);
    color: white;
    font-family: montserrat;
    font-weight: 400;
    align-items: center;
}

/* Ancho de la barra de desplazamiento */
.container::-webkit-scrollbar {
    width: 8px;
}

.container::-webkit-scrollbar-thumb {
    background-color: var(--accentColor);
}

.container::-webkit-scrollbar-track {
    background-color: var(--firstColor);
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--accentColor);
}

body::-webkit-scrollbar-track {
    background-color: var(--firstColor);
}

html.light body::-webkit-scrollbar-thumb {
    background-color: #dee1e68c;
}

html.light body::-webkit-scrollbar-track {
    background-color: #f1f3f4;
}

body::-webkit-scrollbar-track-piece:start {
    background: transparent;
}

body::-webkit-scrollbar-track-piece:end {
    background: transparent;
}

html.light .container::-webkit-scrollbar-thumb {
    background-color: #dee1e68c;
}

html.light .container::-webkit-scrollbar-track {
    background-color: #f1f3f4;
}

.cuerpo {
    display: flex;
    padding: 90px 0;
    width: 80%;
}

.cuerpoInt {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0;
    border-top: 0;
    margin-top: -15px;
    border-radius: 5px;
    opacity: 1;
    transition: all 1s;
    justify-content: center;
}

.visiblePanels {
    visibility: hidden;
    transition: all 1s;
    opacity: 0;
}

.envolt {
    color: var(--firstTextColor);
    width: 100%;
    margin-bottom: 65px;
    height: fit-content;
    /* box-shadow: var(--neumoShadow); */
    /* background-image: var(--bgGradient); */
    border-radius: 5px;
    transition: box-shadow .5s;
    /* flex-grow: 1; */
}

html.light .envolt {
    /* box-shadow: 7px 7px 15px rgba(55, 84, 170, .15), -7px -7px 20px rgba(255, 255, 255, 1), inset 0px 0px 4px rgba(255, 255, 255, .2), inset 7px 7px 15px rgba(55, 84, 170, 0), inset -7px -7px 20px rgba(255, 255, 255, 0), 0px 0px 4px rgba(255, 255, 255, 0) !important; */
    box-shadow: none;
}

.link p {
    /* position: absolute; */
    margin-top: 41px;
    margin-left: 40px;
    font-size: 13px;
}

#cols {
    padding: 0;
    width: 80%;
    margin: 0 auto;
    justify-content: flex-start;
    display: flex;
}

.link:hover {
    background-color: var(--firstHvColor);
}

/* html.light .link:hover {
    background-color: var(--firstHvColor);
} */

span.description {
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    white-space: balance;
    max-width: 80%;
    position: relative;
    top: 14px;
    max-height: 0;
}

.anchorHeight span:nth-child(2) {
    opacity: 1;
    visibility: visible;
    color: var(--accentColor);
    transition: opacity .3s ease-in-out;
}

.link {
    max-height: 43px;
    display: flex;
    align-items: flex-start;
    width: 98%;
    border-radius: 5px;
    transition: max-height .3s ease-in-out;
}

.anchorHeight {
    height: 140px !important;
}

.linkHeight {
    max-height: 140px;
    /* padding-top: 15px;
    align-items: flex-start; */
}

.rotate180 {
    transform: rotateX(180deg);
}

.opacityIn {
    opacity: 1;
    transition: opacity .6s ease-in-out;
}

/* html.light .link {
    background-color: var(--firstColor);
} */

/* .link:nth-child(even):not(.lastVisited) {
    background-color: var(--fourthColor);
} */

/* html.light .link:nth-child(even):not(.lastVisited) {
    background-color: var(--firstColor);
} */

.link:nth-child(even):hover {
    background-color: var(--firstHvColor);
}

html.light .link:nth-child(even):hover {
    background-color: var(--firstHvColor);
}

/* .link:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
} */

.link a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 43px;
    padding-left: 12px;
    text-decoration: none;
    color: var(--firstTextColor);
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 82%;
    overflow: hidden;
    flex-grow: 1;
    transition: height .3s ease-in-out;
}

.link img {
    width: 16px;
    margin-left: 15px;
    position: relative;
    top: 14px;
}

.link a span:first-child {
    font-size: 1em;
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.lcontrols {
    /* height: 7px;
    width: 7px; */
    transition: border .5s ease-in-out;
    border: 1px solid transparent;
    border-radius: 40px;
    display: none;
    position: relative;
    padding: 7px;
    top: 6px;
}

.expandControl {
    margin-right: 5px;
    padding: 6px 7px;
    transition: border .5s ease-in-out;
    border: 1px solid transparent;
    border-radius: 40px;
    display: none;
    /* justify-content: center;
    align-items: flex-start; */
    cursor: pointer;
    position: relative;
    top: 6px;
}

.expandControl svg {
    transition: transform .3s ease-in-out;
}

.lcontrols:hover,
.expandControl:hover {
    border: 1px solid var(--firstBorderColor);
    border-radius: 40px;
    background-color: var(--secondColor);
}

html.light .lcontrols:hover,
html.light .expandControl:hover {
    border: 1px solid var(--firstBorderColor);
    border-radius: 40px;
    background-color: var(--firstColor);
}

.link:hover .lcontrols {
    display: flex;
    /* justify-content: center;
    align-items: center; */
    cursor: pointer;
}

.link:hover .expandControl {
    display: flex;
}

.lcontrols .showPanel {
    color: var(--accentColor)
}

.headercolumn {
    height: 50px;
    display: flex;
    align-items: center;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background: var(--secondColor);
}

html:not(.dark) .headercolumn {
    background: var(--firstColor);
}

div.columna {
    display: flex;
    flex-direction: column;
    gap: 3px;
    background-color: var(--fifthColor);
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-bottom: 5px;
}

/* html:not(.dark) .link {
    border-bottom: 1px solid #f3f3f3;
} */
html:not(.dark) div.columna {
    background-color: var(--firstColor);
}

i.icofont-gear {
    position: relative;
    left: 208px;
    top: -44px;
    color: #ededed;
}

.ccontrols {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    left: 53%;
    top: -125px;
    width: 35%;
    background-color: goldenrod;
    padding: 14px;
    border-radius: 8px;
    /* transform: translateY(45px); */
    transform: translateY(200%);
    transition: transform 0.3s ease-in-out;
    z-index: -1;
    /* display: none; */

}

.ccontrols.visible {
    transform: translateY(0%);
}

/* .ccontrols span {
    margin-right: 8px;
} */
/* i.icofont-gear:hover + .ccontrols {
    display: flex;
} */
.headercolumn:hover {
    cursor: grab;
}

/* .headercolumn:hover .ccontrols {
    display: flex;
} */
.headercolumn h2 {
    color: var(--firstTextColor);
    margin: 0;
    font-size: 1.1em;
    font-weight: 500;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 5px 12px;
    margin-left: 5px;
}

html:not(.dark) .headercolumn h2 {
    color: #787676
}


h2.ctitle:hover {
    cursor: default;
}

.headRightSub>div {
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 15px; */
    width: -webkit-fill-available;
}

div.settings {
    padding: 10px;
    display: flex;
    gap: 15px;
}

div.settings:hover .bodcontrols {
    display: flex;
}

.bodcontrols {
    position: absolute;
    background-color: var(--fifthColor);
    box-shadow: 0px 15px 25px var(--firstShadow);
    border-radius: 5px;
    top: 58px;
    right: 7%;
    padding: 6px 0px;
    z-index: 12;
    flex-direction: column;
    align-items: center;
    display: none;
    color: var(--firstTextColor);
    font-weight: 500;
    justify-content: center;
    gap: 2px;
    min-width: 215px;
}

.bodcontrols span {

    cursor: pointer;
    font-size: 14px;
    display: flex;
    align-items: center;
    width: 80%;
    padding: 5px 15px;
    border-radius: 5px;
}

.bodcontrols span:hover {
    background-color: var(--firstHvColor);
}

.lastVisited {
    background-color: var(--firstHvColor);
    /* backdrop-filter: blur(14px); */
}

.link.lastVisited a,
.link.lastVisited p {
    color: var(--firstTextColor)69;
}

#btnSubirArriba {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1;
    border: none;
    border-radius: 4px;
    background-color: var(--secondColor);
    color: var(--firstTextColor);
    font-size: 16px;
    cursor: pointer;
    padding: 13px 30px;
    transition: all .3s;
}

#btnSubirArriba:hover {
    background-color: #555;
}

i.icofont-scroll-up {
    font-size: 27px;
}

.deskForm {
    min-width: 525px;
    height: auto;
    top: 15%;
    background-image: var(--bgSecondGradient);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    display: none;
    z-index: 7;
    padding: 50px;
    border-radius: 15px;
    gap: 15px;
    /* border: 3px solid white;
    box-shadow: inset 0 0 1em rgb(141 141 141 / 10%), 0 0 0 2px rgb(255, 255, 255), 0.3em 1em 2em rgba(0, 0, 0, 0.3); */
}

#editDeskForm {
    align-items: flex-start;
    top: 129px;
    border-radius: 0;
    height: -webkit-fill-available;
    right: 0;
    left: initial;
    transform: none;
    max-width: min-content;
}

.deskForm fieldset {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 12px;
    padding: 24px 24px 0 24px;
    border: 1px solid var(--firstBorderColor);
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}

.deskForm legend,
.deskForm label {
    font-weight: bold;
    color: var(--firstTextColor);
}

.deskForm h3,
.deskForm h2 {
    color: var(--firstTextColor);
}

.deskForm form {
    display: flex;
    gap: 15px;
}

/* W3C SCHOOLS -----------------------------------*/
.dropbtn {
    background-color: #9d9d9d;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: block;
    background-color: var(--fifthColor);
    justify-content: center;
    font-size: 14px;
    position: fixed;
    top: 133px;
    left: 0;
    /* border-top: 1px solid var(--firstBorderColor); */
    flex-wrap: wrap;
    transform: translateX(-100%);
    width: calc(100% - 50px);
    height: -webkit-fill-available;
    overflow-y: auto;
    transition: transform .5s;
    z-index: 6;
    padding: 25px;
}

html.light .dropdown-content {
    background-color: var(--firstColor);
}

.dropdown-content a {
    color: var(--firstTextColor);
    padding: 16px;
    text-decoration: none;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 1.3em;
    border-radius: 5px;
}

.dropdown-content a:hover {
    background-color: var(--firstHvColor);
    cursor: pointer;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #c7c7c7;
}

.sortable-ghost {
    background-color: var(--secondColor);
    border: 1px dotted darkkhaki;
}

div.headCenter input[type="text"] {
    width: 90%;
}

/* html.light div.headCenter input[type="text"] {
    background-color: var(--thirdColor);
} */

div.headCenter input[type="text"]::placeholder {
    color: var(--firstTextColor);
}

div.headCenter input[type="text"]:focus-visible {
    outline: none;
    outline-style: none;
    background-color: var(--secondColor);
}
html.dark div.headCenter input[type="text"]:focus-visible {
    background-color: var(--thirdColor);
}
/** -- Progresss Circle ---- **/

.progress-pie-chart {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #E5E5E5;
    position: relative;
    opacity: 1;
    transition: opacity 0.5s ease-out;
    display: none;
}

.progress-pie-chart.gt-50 {
    background-color: #81CE97;
}

.ppc-progress {
    content: "";
    position: absolute;
    border-radius: 50%;
    left: calc(50% - 100px);
    top: calc(50% - 100px);
    width: 200px;
    height: 200px;
    clip: rect(0, 200px, 200px, 100px);
}

.ppc-progress .ppc-progress-fill {
    content: "";
    position: absolute;
    border-radius: 50%;
    left: calc(50% - 100px);
    top: calc(50% - 100px);
    width: 200px;
    height: 200px;
    clip: rect(0, 100px, 200px, 0);
    background: #81CE97;
    transform: rotate(60deg);
}

.gt-50 .ppc-progress {
    clip: rect(0, 100px, 200px, 0);
}

.gt-50 .ppc-progress .ppc-progress-fill {
    clip: rect(0, 200px, 200px, 100px);
    background: #E5E5E5;
}

.ppc-percents {
    content: "";
    position: absolute;
    border-radius: 50%;
    left: calc(50% - 173.9130434783px/2);
    top: calc(50% - 173.9130434783px/2);
    width: 173.9130434783px;
    height: 173.9130434783px;
    background: #fff;
    text-align: center;
    display: table;
}

.ppc-percents span {
    display: block;
    font-size: 2.6em;
    font-weight: bold;
    color: #81CE97;
}

.pcc-percents-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.progress-pie-chart {
    margin: 50px auto 0;
}

.selectBackground {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.selectBackground img {
    width: 200px;
    cursor: pointer;
}

.selectBackground p {
    width: 100%;
    text-align: left;
}

.solidColor {
    width: 200px;
    background-color: antiquewhite;
    cursor: pointer;
    height: 133px;
}


/* Progress Bar */

.containerBar {
    /* margin: 60px auto;
    text-align: center; */
    width: 93%;
}

.containerBar .progress {
    margin: 0 auto;
}

.progress {
    padding: 4px;
    /* background: rgba(0, 0, 0, 0.25); */
    border-radius: 6px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}

.progress-bar {
    width: 0%;
    background-color: var(--accentColor);
    height: 16px;
    border-radius: 4px;
    -webkit-transition: 0.4s linear;
    -moz-transition: 0.4s linear;
    -o-transition: 0.4s linear;
    transition: 0.4s linear;
    -webkit-transition-property: width, background-color;
    -moz-transition-property: width, background-color;
    -o-transition-property: width, background-color;
    transition-property: width, background-color;
}

@media (min-width: 1536px) {

    .headRightSub>div {
        gap: 15px;
    }

    div.avatar img {
        width: 50px;
        height: 50px;
    }

    .headLeft {
        gap: 28px;
    }

    .headCenter {
        grid-area: headCenter;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: auto;
        background-image: none;
        position: initial;
        top: auto;
        width: auto;
    }

    .sideInfo {
        display: flex;
        left: 4.3%;
    }

    .cuerpoInt {
        /* max-width: 68%; */
        gap: 50px;
        justify-content: start;
        flex-direction: row;
        padding: 50px;
        opacity: 0;
        transition: opacity .5s;
        margin-left: 16.4%;
    }

    #sectContainer {
        flex-direction: column;
    }

    .dropdown-content {
        display: flex;
        position: fixed;
        transform: none;
        height: 43px;
        width: auto;
        z-index: 1;
        top: 83px;
        left: 0;
        width: 100%;
        align-items: center;
        gap: 5px;
        padding: 0;
    }

    .dropdown-content a.active {
        border-bottom-color: var(--accentColor);
        background-color: var(--firstHvColor);
    }

    .dropdown-content a {
        max-width: 180px;
        font-size: 14px;
        padding: 8px 10px;
    }

    div.headCenter input[type="text"] {
        position: initial;
        top: initial;
        width: 55%;
    }

    #resultsContainer {
        width: 28vw;
        top: 58px;
        border: 1px solid var(--firstBorderColor);
        border-top: 0;
        background-color: var(--secondColor);
        max-height: 350px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    html.dark #resultsContainer {
        background-color: var(--thirdColor);
    }
    .link a {
        position: relative;
        top: 12px;
        justify-content: flex-start;
    }
}